[user]
  name = Mike Bowman
  email = mbowman2@gmail.com
[merge]
  ff = only
[alias]
  co = checkout
  br = branch --sort=-committerdate
  ci = commit
  st = status
  s = status -s
  last = log -1 HEAD
  diffl = diff HEAD~1
[filter "lfs"]
  required = true
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  clean = git-lfs clean -- %f
[push]
  default = simple
[web]
  browser = chrome
[core]
  excludesfile = ~/.gitignore
  editor = /usr/bin/vim
