.atom/storage
.atom/compile-cache
.atom/dev
.atom/.npm
.atom/.node-gyp

*.swp
*.swo
.vim/swp/*
.DS_Store

.vim/plugged/**

.vim/.netrwhist
.netrwhist

.thescore_deploy_key
.digital_ocean_token

lvim/plugin/packer-compiled.lua
nvim/site/pack/
