[user]
  name = Mike Bowman
  email = mbowman@pagerduty.com
	signingkey = B50D67EACD725134
[alias]
  co = checkout
  br = branch --sort=-committerdate
  ci = commit
  st = status
  s = status -s
  last = log -1 HEAD
  amend = commit --amend --no-edit
  diffs = diff --staged
[filter "lfs"]
  required = true
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
  clean = git-lfs clean -- %f
[push]
  default = simple
[web]
  browser = chrome
[core]
  excludesfile = /Users/mbowman/.gitignore
  editor = /usr/local/bin/nvim --noplugin
	; pager = diff-so-fancy | less --tabs=4 -RFX
[url "git@github.com:"]
  insteadOf = https://github.com/
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[pager]
	status = false
	log = false
	diff = false

# This next lines include Netlify's Git Credential Helper configuration in your Git configuration.
; [include]
;   path = /Users/mbowman/.netlify/helper/git-config
[gpg]
	program = /usr/local/bin/gpg
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[pull]
	rebase = false
; [commit]
; 	gpgsign = true
[hub]
	protocol = ssh
[init]
	defaultBranch = main
[url "git@github.com:"]
  insteadOf = https://github.com
