"*":
  core:
    disabledPackages: [
      "go-debug"
      "vim-mode"
    ]
    excludeVcsIgnoredPaths: false
    telemetryConsent: "limited"
  editor:
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "bdb3bb2d-ef86-c312-ffa1-12d86f249ea7"
  "go-debug":
    limitCommandsToGo: true
    panelInitialVisible: false
  linter:
    showErrorPanel: false
  "one-dark-ui":
    tabSizing: "Even"
  "tree-view": {}
  welcome:
    showOnStartup: false
".go.source":
  editor:
    tabLength: 4
".gotemplate.source":
  editor:
    tabLength: 4
